/* common nav style */
.nav-wrapper {
    background-color:black;
    /* flexbox container */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
}

/* left column styles */
.nav-wrapper > .left-column > .logo-header img {
    width: 250px;
    height: 100%;
    justify-content: center;
}

/* center column styles */
 .nav-wrapper > .center-column {
    padding: 0px 40px;
    margin-right: 60px;
}

.nav-wrapper > .center-column > .title {
    color: #cea135 ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.link-wrapper {
    display: flex;
    align-items: baseline;
    font-size: 1.5em;
}

.link-wrapper > .nav-link {
    margin-right: 20px;
}

.link-wrapper > .nav-link a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.link-wrapper > .nav-link > .spark {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 1.25rem;
    margin-left: 15px;  
} 

.center-column > .link-wrapper > .nav-link > .spark a {
    display: flex;
    color: gray;
    padding: 0px 5px;
}

.center-column > .link-wrapper > .nav-link > .spark i {
    font-size: 0.8em;
    margin-left: 5px;
}


/* right-column styles */
.nav-wrapper > .right-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper > .right-column > .button i {
    font-size: 1em;
    color: #49c675;
    margin-left: 5px ;
}

.nav-wrapper > .right-column > .search-icon {
    color: grey;
    font-size: 2em;
    padding: 0px 20px;    
}

.btn {
    font-size: 1.25em;
    border-radius: 0px;
    background-color: grey;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #36383f;
    color: white;
    padding: 10px 25px;
    border: 1px solid #36383f;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* features-section */
.main-body  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    align-items: center;
    background: linear-gradient(to right,#343740,#040406);
}

.main-body > .features-section  {
    padding-left: 40px;
}

.features-section > .columns-wrapper {
font-size: 2em;
color: white;
}

.bold {
    font-weight: bold;
}

.column2 {
    color: grey;
}

.features-section > .columns-wrapper i {
    color: #cea135;
}

.hero-section {
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}

.hero-section > .top-heading {
    background-color: #4bce79;
    padding: 1px 20px;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    display: flex;
    padding: 1px 20px;
    background-color: #000100;
    color: white;
    border-radius: 2px;
    height: 80px;
    align-items: center;
    margin-right: 0px;
}

.right-side {
    padding-top: 50px;
    text-align: right;
}

.right-side-title {
    color: white;
    font-size: 1.5em;
    margin-right: 190px;
}

.right-side-title > .blue {
    color: #6fc2c8;
}

.right-side > .right-img  {
    text-align: right;
    margin-bottom: 0px;
}

.right-side > .right-img img {
width: 500px;
height: 100%;
}

/* footer */
.footer {
    background-color: #36383f;
}

.footer > .link-wrapper {
    letter-spacing: 1px;
    border: 1px grey solid;
}

.footer > .link-wrapper > .nav-link {
    border-right: 1px white solid;
    height: 80px;
    margin-right: 0px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

.MAYUS {
    font-size: 1.5em;
    font-weight: bold;
}

.footer_2 {
    height: 50px;
    background-color: black;
}